body, html {
    height: 100%;
    padding: 0;
    margin: 0;
}

.navbar-nav {
    padding-top: 20px;
    padding-bottom: 10px;
    padding-right: 50px;    
    font-size: 25px;  
}
            
#logo {
    height:80px;
}
.lajna {
    border:0;
    height: 3px;
    background: #333;
    background-image: repeating-linear-gradient(to right, #ccc, #333, #ccc);
    padding: 0;
    margin: 0;
}
        
.navbar {
    background-color: white;
}    

.navbar a{
    color:black;
}

#menu-background {
    margin: 0;
    padding: 0;
}

.social {
    padding-top:2px;
}

#wrapper {
    height: 100px; 
    width: 100%;
    margin: 0;
    padding-top: 0px;
}

#carousel-container {
    padding: 0;
    margin: 0;
}

#novinky {
    margin-bottom: 0;
    padding-top: 4px;
    background-color: #ff3334;
}

#novinka {
    margin-top: 10px;
}

#novinka-text {
    margin-top: 5px;
}

.nadpis {
    background-color: #ff3334;
    padding-bottom: 10px;
    margin-bottom: 0;
}

#obsah {
    height: 60em;
    padding-bottom: 0;
    padding-top: 0;
    margin-bottom: 0;
    margin-top: 0;
    background-color: white;
    
    overflow: hidden;
}

#gallerystyle
{
    width: 1100px;
    height: 655px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 11px;
    background-color: white;
}

#parallax {
    /* The image used */
    background-image: url("../img/parallaxpng.png");

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    overflow: hidden;
}

#steve {
    margin-left:50%;
    margin-top: 380px;
    overflow: hidden;
}

.parallax-circle {
    padding-top: 15px;
    height: 30%;
    width: 75%;
}
                     
#clenove {
    height: 63em;
    overflow: hidden;
}

#seznam {
    padding-top: 0;
    margin-top: 0;
}

.aktivni {
    background-image: url(../img/Red.jpeg);
    background-size: 60px;
    padding-bottom: 35px;
    
}

.galleria
{    width: 1100px; 
    height: 655px; 
    background: #000
}

@media screen and (max-width: 768px) {
    #parallax {
        background-attachment: scroll;
    }
    @-moz-document url-prefix() {
        #smlogo {
            width: 35%;
            height: 35%;
            padding-bottom: 20px;
        }
        
        #novinky {
            margin-top: 100px;
        }
    }    
    #obsah {
        height: 90em;
        padding-bottom: 0;
        padding-top: 0;
        margin-bottom: 0;
        margin-top: 0;
        background-color: white;
        overflow: hidden;
    }
    
    #smlogo {
        overflow: hidden;
    }
    
    #novinky {
        margin-top: 90px;
    }
    

    #seznam {
        text-align: center;
    }
}